.Homeret {
    text-align: center;
    color:black;
}

.homeimage {
    position: relative;
}

img {
    border : solid;
    border-width : 1.5%;
    border-color : gray;
    padding : 0.5%;
    height: 50vw;
    width: 50vw;
}