.Homeret {
    text-align: center;
    color:black;
}

.homeimage {
    position: relative;
    margin-top : 20px;
}

.image {
    margin:1.5%;
    padding:0.7%;
    border-color:gray;
    border-width: 0.5rem;
    border-style:solid;
    max-width: 100%;
    max-height: auto;
}

img {
    border : solid;
    border-width : 1.5%;
    border-color : gray;
    padding : 0.5%;
    height: 50vw;
    width: 50vw;
}