.ret {
    text-align: center;
}

.image {
    padding:0.7%;
    margin:1.5%;
    border-color:gray;
    border-width: 0.5rem;
    border-style:solid;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}